<h2>Claudia Jaramillo</h2>
Coach Corporativa certificada por la ICC (International Coaching Community), especializada en entrenamiento de equipos gerenciales, coaching ejecutivo, coaching de desarrollo de carrera y entrenamiento en habilidades directivas; estrategias comunicacionales, negociación y manejo de conflictos; liderazgo y dirección de equipos, trabajo en equipo y team building; proceso creativo e innovación y pensamiento estratégico.

18 años de experiencia dirigiendo gerencias de servicios de empresas consultoras de la industria de tecnología y venta de SW World Class. Ha desarrollado proyectos de consultoría para empresas de los principales sectores público y privado, liderando equipos de implementación de proyectos tecnológicos de Inteligencia de negocios, gestión estratégica, diseño y gestión de procesos. Sus antecedentes de formación académica son:
<ul>
	<li>Coach Integral en Inpact S.A.</li>
	<li>Certificada en Team Coaching y Business Coaching.</li>
	<li>Diplomada en Desarrollo Organizacional, Universidad Católica de Chile.</li>
	<li>Diplomada en Hipnosis Clínica Eriksoniana.</li>
	<li>Master Practitioner en PNL , Sociedad Chilena de Programación Neurolingüística.</li>
	<li>Contador Auditor, Universidad de Concepción.</li>
	<li>Diplomada de Psicología Jungiana, Universidad Católica de Chile.</li>
	<li>Certificada por la ICC en Coaching aplicado a Gestión Gerencial, Desarrollo de Equipos Innovadores para mejorar el Servicio y Diálogo Sistémico.</li>
	<li>Certificada en la Metodología D.I.S.C® por HR Tools y en Tipología Sicológica MBTI (Myger Briggs Test Indicator).</li>
</ul>
<h2>Luis Fontanilla</h2>

13 años experiencia en auditoría interna y externa. Posee conocimientos de los principales procesos de empresas de Telecomunicaciones, como Entel, Telefónica Chile y Telefónica del Sur; de empresas productivas e industrial minera, como Gerdau Aza, Cintac, Codelco (Norte, Salvador y Ventana); y empresas del ámbito financiero: Compañía de Seguros Chilena Consolidada, Banco de Chile y Banco Central de Paraguay. Actualmente se desempeña como Director (s) de ISACA y Profesor part-time de auditoría Interna y de Sistemas de Información en la Facultad de Economía de la Universidad de Chile. Jefe de Supervisión de Seguridad de la Información en Telefónica.

Sus principales antecedentes académicos son:
<ul>
	<li>Certificado en Auditoría de Sistemas CISA.</li>
	<li>Certificado en Riesgo y Controles CRISC.</li>
	<li>Certificado ITIL v3.</li>
	<li>Magíster en Gestión y Administración de Empresas, Universidad de Chile.</li>
	<li>Licenciado en Matemáticas y Computación, Universidad de Santiago de Chile.</li>
	<li>Autor del libro “Proceso de Tecnología de Información bajo la Ley Sarbanes Oxley”</li>
</ul>

<h2>Staff de especialistas en Microfinanzas.</h2>

Ricardo Gutiérrez, Juan Pacheco, Silvana Saldaña, Juan Carlos Morales, Juan Zuleta.