/*
Theme Name:     GlobalGest-theme 16dic2012-11:00;
Theme URI:      http://www.global-ges.cl
Description:    tema desarrollado para Globalgest por @aribet
Version:        1.0 16dic11
Author:         Andre Ribet
Author URI:     http://www.global-ges.cl
Tags:           tema
*/


/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


*{
            box-sizing:border-box;
       -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}


body {
    font-family: Tahoma, Helvetica,Arial,sans-serif;
    margin: 0 auto;
    font-size: 100%;
    background: url("img/G_blanca_web.png");
   background-repeat: no-repeat;
   background-position:top center;
    background-color: #F2F2F2;
}


html {margin: 0 !important;padding: 0;}





    .contenedor {
        width: 100%;
        min-width: 1440px;
        overflow: hidden;
        position: relative;
        margin:0 auto;
    }

    header {
        width: 100%;
        height:150px;
        text-align: center;
        display: block;
        position: relative;
        background-image: url("img/tactile_noise.png");
                box-shadow: 0 0px 5px rgba(0,0,0,0.8);
           -moz-box-shadow: 0 0px 5px rgba(0,0,0,0.8);
        -webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.8);
    }

    header .grupo {
        position: relative;
        max-width: 1140px;
        margin: 0 auto;
    }

    header figure {
        width: 256px;
        /*height: 172px;*/

        /*margin: 0;*/
        padding: 48px 0 30px 0;
        position: relative;
        right: 0px;
        background-color: #fff;
        text-align: center;
        border-radius: 0 0 10px 10px;
        text-align: center;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    }

    header figure img{
        width: 200px;
        vertical-align: 
    }


/*frases que se mueven =================================*/

header .frases {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 340px;
    height: 142px;
    /*background-color: rgba(255,255,0,0.5);*/
}

header #Stage{
    /*background-color: inherit !important;*/
}

header .frases .texto_frase{
    font-family: 'Forum', serif !important;
    color: #77003F !important;
}


header .grupo .contenedor_frases {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 340px;
    height: 142px;
    /*background-color: rgba(255,255,0,0.5);*/
}

header .grupo .contenedor_frases iframe {
    width: 800px;
    height: 142px;
}








/*FIN frases que se mueven =============================*/

/* menu */
nav {
    position: absolute;
    right: 0px;
    /*max-width: 850px;*/
    bottom:22px;
    left: 286px;
    border-radius: 0 0px 10px 10px;
}

nav, ul {
    padding: 0;
}

nav ul {
    margin: 0;
}

    nav ul li {
        list-style-type: none;
        text-align: center;
    }

nav ul li:first-child a {
    border-radius: 0px 0 0 10px;
}

nav ul li:last-child a {
    border-radius: 0 0px 10px 0;
    border-right: 1px solid white;
}

nav ul li a {
    float: left;
    color: #000;
    text-decoration: none;
    font-size: 0.8em;
    width: 16.6% !important;
    padding: 10px 0 10px 0;
    background-color: #CCC;
   
    border-top: 1px solid white;
    border-left: 1px solid white;
    /*border-right: 1px solid rgba(0,0,0,0.2);*/
    border-bottom: 1px solid white;

            box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}

nav ul li.current-menu-item a{
    color: #FFF;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    background: #771C47; /* Old browsers */
}

nav ul li a:hover {
    /*background-color: #77003F;*/
    color: #FFF;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    background: #603248; /* Old browsers */
}

/* FIN navegacion */

/* contenido */



.contenido {
    margin: 30px auto;
    max-width: 1140px;
    overflow: hidden;
    position: relative;
    /*background-color: green;*/

}

/*
.fijar {
    position: fixed;
    top: 10px;
    width: 13.8%;
}
*/

.ocultar {
    display: none !important;
}

/*Categorias*/
.submenu { 
    width: 22.5%;
    float: left;
    margin: 1% 0 0 0;
}

.submenu ul {
    display: block;
    padding:0;
    margin: 0;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}

.submenu ul:first-child {
    /*border: 10px solid red;*/
    border-radius: 5px 5px 0 0; 
}

.submenu ul li{
    list-style: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #333;
}

.submenu .tit_cursos{ 
    background-color: #666;
    padding:3% 3% 3% 28px;
    display: inline-block;
    width: 100%;
    font-size: 0.75em;
    font-weight: bold;
    color: #333;
    /*text-align: center;*/
}

.submenu ul li.tit_cursos {
    border-radius: 5px 5px 0 0; 
}

.submenu ul li a {
    display: block;
    width: 100%;
    padding: 3% 5% 3% 3%;
    text-decoration: none;
    color: #ccc;
    font-size: 0.8em;
    background-color: #666; 
 
}

.submenu ul li a:hover {
    /*background-color: #666;*/
    color: #fff;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    background-color: #603248;
}
   
.submenu ul li.current-menu-item a {
    color: #fff;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    background-color: #771C47;
}

/*
.submenu ul li a i{
    color: #77003F;
}
*/

/*

.submenu ul li a:before {
    content: "\f02d";
    width: 7px;
    height: 7px;
    float: left;
    margin: 5px 8px 0 0;
    border-radius: 2px;
}


.icon-book:before                 {  }



*/


/*
.submenu ul li:first-child {
    border-radius: 5px 5px 0 0;
}

.submenu ul li:first-child a {
    border-radius: 5px 5px 0 0;
}
*/




/*
.submenu ul li:last-child a {
    border-radius: 0 0 5px 5px;
}
*/

section {
    width: 56%;
    float: left;
    /*height: 200px;*/
    /*background-color: brown;*/
    padding: 5px 10px 0 30px;
    margin: 0 0 20px 0 ;
}

section h1 {
    font-size: 1.6em;
    color: #77003F;
    /*font-family: georgia, serif;*/
    font-family: 'Forum', serif;
    font-weight: bold;
    display: block;
    /*float: left;*/
    /*margin: 0 0 15px 0;*/
    margin: 0 0 15px 0;
    /*padding: 0 0 10px 0;*/
    /*padding: 0 0 0px 0;*/
    /*border-bottom: 1px solid #ccc;*/
    /*width: 100%;*/
}

section h1 span {
    /*float: left;*/
    /*margin-top: 84px;*/
    display: block;

}

section .figura{
    /*display:block;*/
    /*width: 25%;*/
    height: 130px;
    margin: 5px;
    padding: 3px;
    vertical-align: middle;
    /*float: left;*/
}

article {
    /*float: left;
    clear: both;
    margin: 0 0 10px 0;
    width: 100%;*/
}

article strong{
    color: red;
}

article a{
    color: #333;
}

article a:hover{
    color: #77003F;
}

article ul.cursos {
    color: #333333;
    font-size: 0.8em;
    margin: 12px 0;
    display: inline-block;
}
article ul.cursos li{
    /*margin: 0 0 0 40px;*/
}

section h2 {
    font-size: 1em;
    color: #77003F;
    font-family: 'Forum', serif;
    /*font-weight: bold;*/
    display: block;
    clear: both;
    margin: 10px 0 0 0;
}

section h2:before {
    background-color: red;
    border-radius: 2px 2px 2px 2px;
    content: "";
    float: left;
    height: 7px;
    margin: 5px 8px 0 0;
    width: 7px;
}

section h3 {
    font-size: 1.2em;
    color: #77003F;
    font-family: 'Forum', serif;
    /*font-weight: bold;*/
}

section p {
    font-size: 0.8em;
    color: #333;
    line-height: 1.6em;
}

section ul {
    font-size: 0.8em;
    color: #333;
    line-height: 1.6em;
}

section ul li{
    margin-left: 50px;
}

section article .contenido_post {
    background-color: white;
    padding: 1px 10px;
    border-radius: 0 10px 0 0;
    margin: 0 0 15px 0;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);

}

.nuestro-equipo section .mail:before {
    content: url("imagenes/letter_16.png");
    display: inline-block;
    /*position: absolute;*/
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.contenido.cursos section.menu_cursos {
    margin: 10px 0 0 0;
}


.contenido.cursos section.menu_cursos > div {
    font-size: 0.9em;

    list-style: none;
    margin: 0px;
    padding: 0px;

    float: left;
    border: 1px solid #ccc;
    width: 48%;
    height: 100px;
    padding: 5px;
    margin: 5px 2% 5px 0%;
    display: table;
    text-align: center;
    position: relative;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);

    background-color: #fff;
}

.contenido.cursos section.menu_cursos > div a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
}

.contenido.cursos section.menu_cursos > div:hover {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);

}



/* LISTA DE CURSOS */

.contenido section .contenido_post ul.cursos li{
    font-size: 0.9em;
    list-style: none;
    /*margin: 0px;*/
    /*padding: 0px;*/
    float: left;
    border: 1px solid #ccc;
    width: 31%;
    height: 100px;
    padding: 5px;
    /*margin: 5px 1% 5px 1% !important;*/
    margin: 5px 10px 5px 3px !important;
    display: table;
    text-align: center;
    position: relative;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    background-color: #BEFB67;
}

.contenido section .contenido_post ul.cursos li span {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
}

.contenido.cursos section ul.lista_cursos li:hover {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);

}

.contenido.cursos section ul.lista_cursos li a span {
    display: block;
    margin: 2px;
}

/*colores segun ambito*/
.contenido.cursos section .administracion ul.lista_cursos li a {
    background-color: #Befb67;
}

.contenido.cursos section .comercial-servicio-cliente ul.lista_cursos li a {
    background-color: #Befb67;
}

.contenido.cursos section .microfinanzas ul.lista_cursos li a {
    background-color: #Befb67;
}

.contenido.cursos section .ti ul.lista_cursos li a {
    background-color: #Befb67;
}

.contenido.cursos section .datamining-buseness-inteligence ul.lista_cursos li a {
    background-color: #Befb67;
}


/*ver ficha*/
.contenido.cursos section ul.lista_cursos li a div {
    color:#000;
    background-color: rgba(255,255,255,0.9);
    font-size: 1em;
    position: absolute;
    top: -5px;
    display: none;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    border:1px solid #999;
    transform: -webkit-translate(-1em,0em) -webkit-rotate(-20deg);
    transform: -moz-translate(-1em,0em) -moz-rotate(-20deg);
    transform: -o-translate(-1em,0em) -o-rotate(-20deg);
    transform: translate(-1em,0em) rotate(-20deg);
}

.contenido.cursos section ul.lista_cursos li a:hover div {
    display: block;
}





/* ASIDE ------------------------------------------------------------------------------*/
aside {
    width: 20%;
    margin:0px 0px 0px 15px;
    float: left;
}


aside .tit_not {
    border-width: 1px 1px 0px 1px ;
    border-style: solid;
    border-color: #ddd;
    font-size: 0.75em;
    font-weight: bold;
    color: #666;

    background-color: #666666;
    color: #333333;
    display: inline-block;
    padding: 3% 3% 3% 28px;
    width: 100%;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}

aside .noticia {
    /*background-color: #ddd;*/
    background-color: #ccc;
    padding: 3%;
    border-width: 1px 1px 0px 1px ;
    border-style: solid;
    border-color: #ddd;
    display: inline-block;
    width: 100%;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}

aside .buscar {
    /*background-color: #ddd;*/
    /*padding: 3%;*/
    /*border-width: 1px 1px 1px 1px ;*/
    /*border-style: solid;*/
    /*border-color: #ddd;*/
    display: inline-block;
    width: 100%;
    margin: 0 0 5px 0;
    /*border-radius: 5px;*/
}

aside .buscar .texto {
    float: left;
}

aside .buscar .boton {
    float: right;
    border-radius: 1px;
    font-size: 0.8em;
    padding: 2.5px 24px;
}

aside .buscar .texto {
    box-shadow: 0 1px 3px #000000 inset;
    width: 55%;
}

aside .buscar span:first-child {
    /*background-color: green;*/
    margin: 1px;
}
aside div:nth-child(2) {
    /*border-width: 1px;*/
    border-radius: 5px 5px 0 0;
}
 
aside div:last-child {
    border-width: 1px ;
    border-radius:0 0 5px 5px;
}
 
aside h3 {
    font-size: 0.8em;
    color: #666;
    /*font-family: 'Forum', serif;*/
    /*font-weight: bold;*/
    margin: 0 0 10px 0;
}

aside p {
    font-size: 0.8em;
    color: #666;
    margin: 5px 0;
}

aside a.leer{
    font-size: 0.7em;
    color: #666;
    float: right;
}

aside a.leer:hover{
    color: #77003F;
}

.vitrina {
    width: :;%;
    float: left;
    clear: both;
    height: 200px;
    background-color: rgba(20,250,0,0.1);
    width: 100%;
}

.vitrina div:last-child {
    margin-right: 0;
}

.vitrina .curso_vitrina{
    margin-right: 0.5%;
    border: 1px solid #666;
    width: 33%;
    float: left;
    padding: 0;
    border-radius: 5px 5px 0px 0px;
}

.vitrina .curso_vitrina figure {
    float: left;
    height: 198px;
    background-color: #336633;
    margin: 0;
    width: 40%;
}

.vitrina .curso_vitrina .texto{
    float: left;
    width: 60%;
}

.vitrina .curso_vitrina h3 {
    font-size: 0.9em;
    color: #333;
    font-family: 'Forum', serif;
    /*font-weight: bold;*/
    margin: 5px 0 10px 10px;
    display: inline-block;
    clear: both;
}

.vitrina .curso_vitrina p {
    font-size: 0.8em;
    color: #333;
    /*font-weight: bold;*/
    margin: 5px 0 10px 10px;
    float:left;
    clear: both;
}

.vitrina .curso_vitrina a.leer {
    font-size: 0.8em;
    color: #666;
    clear: both;
    float: right;
    margin: 5px 5px 0 0;
}

footer {
    margin: 10px 0 0px 0;
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    background-image: url("img/tactile_noise.png");
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8) inset;
       -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8) inset;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8) inset;
    
}

footer .grupo {
    width: 1140px;
    margin: 0 auto;
}


footer .datos {
    float: left;
    width: 60%;
    padding: 10px;
    font-size: 0.8em;
    color: #ccc;

}

footer a{
    color: #999;
}
footer a:hover{
    /*color: #77003F;*/
    color: #fff;
    text-shadow:1px 1px 10px #000;
}

footer .datos p{
    line-height: 1.7em;
    /*padding-left: 20px;*/
}

/*
footer .datos p:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

footer .datos .direccion:before {
    content: url("imagenes/address_16.png");
}

footer .datos .fono:before {
    content: url("imagenes/bubble_16.png");
}
*/

article .datos i,
footer .datos i{
    text-decoration: none;
    margin: 0 10px 0 0;
}


/*
footer .datos .mail:before {
    content: url("imagenes/letter_16.png");
}

footer .datos .web:before {
    content: url("imagenes/globe_16.png");
}
*/



footer .logos {
    float: left;
    width: 40%;
    /*background-color:rgba(240,100,2,0.5);*/
}

footer figure{
    float: right;
    margin: 10px;
}

footer figure img{
    float: left;
    /*height: 80px;*/
}




/*
======================================================================
======================================================================
======================================================================
======================================================================
======================================================================
======================================================================
*/























@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/********************************************************************************************************************
********************************************************************************************************************

                    Mobile First 320 ESTILOS PARA EL TEMA DE GLOBALGEST

*********************************************************************************************************************
*********************************************************************************************************************/






















