@charset "utf-8";
/* CSS para el contacto */



article div.datos {
	font-size: 0.9em;
	color: #333;
	float: left;
	margin: 0 0 10px 0;
	font-weight: 
}



article div.mapa {
	overflow: hidden;
	float: left;
	width: 100%;
	margin:0 0 10px 0;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

article .datos .direccion:before {
	content: url("../imagenes/address_16.png");
}

article .datos .fono:before {
	content: url("../imagenes/bubble_16.png");
}

article .datos .mail:before {
	content: url("../imagenes/letter_16.png");
}

article .datos .web:before {
	content: url("../imagenes/globe_16.png");
}


article form {
	float: left;
}




#form_botones{
	float: right;
	height: 30px;
	padding-top: 5px;
}



select#para {
	width:300px;
	margin-left:10px;
}


.lineas_para{
	background-color: #464646;
	height: 30px;
	padding-top: 2px;
	font-size: 1em;
	padding-bottom: 2px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #626262;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #626262;
}

.lineas_f{
	background-color: #f0f0f0;
	/*height: 23px;*/
	font-size: 10px;
	padding-bottom: 5px;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	
	border:1px solid #EEECED; 
	padding-left: 5px;
	padding-top: 5px;
	
	
	
	/*sombra*/
	box-shadow: rgba(0,0,0,0.2) 0px 2px 4px; /* sombra en caja estandar, cuando lo sea */
	-moz-box-shadow: rgba(0,0,0,0.2) 2px 3px 6px;  /*sombra en caja en firefox */
	-webkit-box-shadow: rgba(0,0,0,0.2) 2px 2px 4px;  /*sombra en caja en chrome y safari */
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=2); /*sombra en IE */
	margin-bottom:10px;
}

.mensaje_f{
	background-color: #f0f0f0;
	padding-bottom: 5px;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	
	border:1px solid #EEECED;
	padding-left: 5px;
	padding-top: 5px;
	
	/*sombra*/
	box-shadow: rgba(0,0,0,0.2) 0px 2px 4px; /* sombra en caja estandar, cuando lo sea */
	-moz-box-shadow: rgba(0,0,0,0.2) 2px 3px 6px;  /*sombra en caja en firefox */
	-webkit-box-shadow: rgba(0,0,0,0.2) 2px 2px 4px;  /*sombra en caja en chrome y safari */
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=2); /*sombra en IE */
	
	
	/* border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #EEECED;
	border-right-color: #919191;
	border-bottom-color: #919191;
	border-left-color: #EEECED;
	padding-top: 5px;
	padding-left: 5px; */
}

.contacto form input.lineas,
.contacto form textarea.lineas {
	background-color: #fff;
	font-size: 1em;
	text-indent: 5px;
	padding-top:5px;
	padding-bottom:2px;
	border-width:0;
	font-family: Arial, Helvetica, sans-serif;
	width: 99%;
}


.contacto .f_txt_nombre {
}

.f_txt_correo {
	
}

.f_txt_fono {
}

.f_txt_mensaje {
	height:108px;

	padding-right:5px;
	padding-left:5px;

}


/*.f_txt_mensaje:hover{
	background-color: #FFC;
}*/

.para{
	position: relative;
	float: left;
	margin-left: 10px;
}


#centro_contacto {
	/* float:left;
	position:relative;
	height: 320px;
	top: 40px;
	left: 189px; */
}

.f_txt_nombre:hover, .f_txt_fono:hover, .f_txt_correo:hover, .f_txt_mensaje:hover {
	background-color: #FFE6DD;
	border-width: 0px;
}

.f_txt_nombre:focus, .f_txt_fono:focus, .f_txt_correo:focus, .f_txt_mensaje:focus {
	background-color: #EEECED;
}
