/*
Theme Name:     Global-theme
Theme URI:      www.global-ges.cl
Description:    nuevo tema
Version:        1.0
Author:         Andre Ribet
Author URI:     www.global-ges.cl
Tags:           tema
*/


/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/********************************************************************************************************************

                    MIS ESTILOS

*********************************************************************************************************************/




/*opera
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}*/

/*html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, label, input, textarea, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
}
*/

/*elimina los margenes por padding y por margin*/

* {
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}


body {
    font-family: Tahoma, Helvetica,Arial,sans-serif;
    margin: 0 auto;
    font-size: 100%;
    background-image: url("../img/fondo.jpg");
    background-attachment: fixed;
}

.contenedor {
    max-width: 1140px;
    overflow: hidden;
    position: relative;
    margin:10px auto 0 auto;
    /*box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);*/
}


header {
    /*background-color: red;*/
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    float: left;
    height:185px;
    text-align: center;
    float: left;
    position: relative;
}

header figure {
    /*background-image: url("imagenes/marca.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;*/
    width: 320px;
    height: 142px;
    /*float: left;*/
    /*display: inline-block;*/
    /*background-color: rgba(100,20,0,0.3);*/
    margin: 0;
}

header figure img{
    width: 285px;
    float: left;
}


/*frases que se mueven*/
header .frases {
    position: absolute;
    top: 0;
    right: 0;
    left: 340px;
    height: 142px;
}

header #Stage{
    background-color: inherit !important;
}

header .frases .texto_frase{
    font-family: 'Forum', serif !important;
    color: #77003F !important;
}


nav {
/*  background-color: rgba(50,150,20,0.2);
*/  position: absolute;
    bottom: 0;
    width: 100%;
    height: 34px;
}

nav, ul {
    padding: 0;
}


nav ul {
    /*background-color: #fefefe;*/
    margin: 0;

}

    nav ul li {
        list-style-type: none;
        text-align: center;
    }


nav ul li:first-child a {
    border-radius: 5px 0 0 5px;
}

nav ul li:last-child a {
    border-radius: 0 5px 5px 0;
}

nav ul li a {
    color: #95021E;
    text-decoration: none;
    float: left;
    width: 20%;
    min-width: ;
    font-size: 0.8em;
    padding: 10px 0 10px 0;
    /*background-color: #D9D9D9;*/
    background: #ffe8a3; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZThhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWRmOGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
    background: -moz-linear-gradient(top,  #ffe8a3 0%, #f9df8b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe8a3), color-stop(100%,#f9df8b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffe8a3 0%,#f9df8b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffe8a3 0%,#f9df8b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffe8a3 0%,#f9df8b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffe8a3 0%,#f9df8b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe8a3', endColorstr='#f9df8b',GradientType=0 ); /* IE6-8 */
}


nav ul li.destacado a{

    color: #FFF;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    background: #603248; /* Old browsers */

}


nav ul li a:hover {
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
    /*background-color: #77003F;*/
    color: #FFF;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);

    background: #603248; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  #603248 0%, #77003F 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#603248), color-stop(100%,#77003F)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #603248 0%,#77003F 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #603248 0%,#77003F 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #603248 0%,#77003F 100%); /* IE10+ */
background: linear-gradient(to bottom,  #603248 0%,#77003F 100%); /* W3C */
/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwMzI0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODIxMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#603248', endColorstr='#77003F',GradientType=0 ); /* IE6-8 */


}

.contenido {
    /*margin: 0 auto;*/
    width: 100%;
    /*max-width: 1140px;*/
    overflow: hidden;
    position: relative;
    /*background-color: green;*/
}

.fijar {
    /*display: none;*/
    position: fixed;
    top: 10px;
    width: 13.8%;
}

.ocultar {
    display: none !important;
}

/*Categorias*/
.submenu { 
    width: 25%;
    float: left;
    /*background-color: blue;*/
    margin: 1% 0 0 0;
    /*padding: 4%;*/
}

.submenu ul {
    display: block;
    padding:0;
    margin: 0;
}

.submenu ul li{
    list-style: none;
    border-bottom: 1px solid #fff;
}

.submenu .tit_cursos{ 
    background-color: #ddd;
    padding: 3%;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    /*text-align: center;*/
}

.submenu ul li a {
    display: block;
    width: 100%;
    padding: 3% 5% 3% 3%;
    text-decoration: none;
    color: #000;
    font-size: 0.8em;

    background: #d9d9d9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNGM0YzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
    background: -moz-linear-gradient(top,  #d9d9d9 0%, #d0d0d0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(100%,#d0d0d0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d9d9d9 0%,#d0d0d0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d9d9d9 0%,#d0d0d0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d9d9d9 0%,#d0d0d0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d9d9d9 0%,#d0d0d0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-8 */

}

.submenu ul li a:before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: red;
    float: left;
    margin: 5px 8px 0 0;
    border-radius: 2px;
}

.submenu ul li a:hover {
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;

    background-color: #666;
    color: #fff;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);

    background: #603248; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top,  #603248 0%, #77003F 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#603248), color-stop(100%,#77003F)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #603248 0%,#77003F 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #603248 0%,#77003F 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #603248 0%,#77003F 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #603248 0%,#77003F 100%); /* W3C */
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwMzI0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODIxMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#603248', endColorstr='#77003F',GradientType=0 ); /* IE6-8 */

}

.submenu ul li:first-child {
    border-radius: 5px 5px 0 0;
}

.submenu ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

.submenu ul li:last-child a {
    border-radius: 0 0 5px 5px;
}


section {
    width: 55%;
    float: left;
    /*height: 200px;*/
    /*background-color: brown;*/
    padding: 5px 10px 0 30px;
    margin: 0 0 20px 0 ;
}

section h1 {
    font-size: 1.6em;
    color: #77003F;
    /*font-family: georgia, serif;*/
    font-family: 'Forum', serif;
    font-weight: bold;
    display: block;
    float: left;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

section h1 span {
    /*float: left;*/
    /*margin-top: 84px;*/
    display: block;

}

section .figura{
    display:block;
    /*width: 25%;*/
    margin: 5px;
    padding: 3px;
    vertical-align: middle;
    /*float: left;*/
}

article {
    float: left;
    clear: both;
    margin: 0 0 10px 0;
    width: 100%;
}

article strong{
    color: red;
}

article a{
    color: #333;
}

article a:hover{
    color: #77003F;
}

article ul {
    color: #333333;
    font-size: 0.8em;
    margin: 12px 0;
}
article ul li{
    margin: 0 0 0 40px;
}



section h2 {
    font-size: 1em;
    color: #77003F;
    font-family: 'Forum', serif;
    /*font-weight: bold;*/
}

section h2:before {
    background-color: red;
    border-radius: 2px 2px 2px 2px;
    content: "";
    float: left;
    height: 7px;
    margin: 5px 8px 0 0;
    width: 7px;
}

section p {
    font-size: 0.8em;
    color: #333;
    line-height: 1.6em;
}

.nuestro-equipo section .mail:before {
    content: url("imagenes/letter_16.png");
    display: inline-block;
    /*position: absolute;*/
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 5px 0 0;
}





.contenido.cursos section.menu_cursos {
    margin: 10px 0 0 0;
}


.contenido.cursos section.menu_cursos > div {
    font-size: 0.9em;

    list-style: none;
    margin: 0px;
    padding: 0px;

    float: left;
    border: 1px solid #ccc;
    width: 48%;
    height: 100px;
    padding: 5px;
    margin: 5px 2% 5px 0%;
    display: table;
    text-align: center;
    position: relative;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);

    background-color: #fff;
}

.contenido.cursos section.menu_cursos > div a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
}

.contenido.cursos section.menu_cursos > div:hover {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);

}










/* LISTA DE CURSOS *************************************************************/
.contenido.cursos section {
    margin: 10px 0 0 0;
}

.contenido.cursos section ul.lista_cursos {

}

.contenido.cursos section ul.lista_cursos li{
    font-size: 0.9em;

    list-style: none;
    margin: 0px;
    padding: 0px;

    float: left;
    border: 1px solid #ccc;
    width: 31%;
    height: 100px;
    padding: 5px;
    margin: 5px 1% 5px 1%;
    display: table;
    text-align: center;
    position: relative;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);

    background-color: #fff;
}

.contenido.cursos section ul.lista_cursos li a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
}

.contenido.cursos section ul.lista_cursos li:hover {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);

}

.contenido.cursos section ul.lista_cursos li a span {
    display: block;
    margin: 2px;
}

/*colores segun ambito*/
.contenido.cursos section .administracion ul.lista_cursos li a {
    background-color: #Befb67;
}

.contenido.cursos section .comercial-servicio-cliente ul.lista_cursos li a {
    background-color: #Befb67;
}

.contenido.cursos section .microfinanzas ul.lista_cursos li a {
    background-color: #Befb67;
}

.contenido.cursos section .ti ul.lista_cursos li a {
    background-color: #Befb67;
}

.contenido.cursos section .datamining-buseness-inteligence ul.lista_cursos li a {
    background-color: #Befb67;
}


/*ver ficha*/
.contenido.cursos section ul.lista_cursos li a div {
    color:#000;
    background-color: rgba(255,255,255,0.9);
    font-size: 1em;
    position: absolute;
    top: -5px;
    display: none;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    border:1px solid #999;
    transform: -webkit-translate(-1em,0em) -webkit-rotate(-20deg);
    transform: -moz-translate(-1em,0em) -moz-rotate(-20deg);
    transform: -o-translate(-1em,0em) -o-rotate(-20deg);
    transform: translate(-1em,0em) rotate(-20deg);
}

.contenido.cursos section ul.lista_cursos li a:hover div {
    display: block;
}





/* ASIDE ------------------------------------------------------------------------------*/
aside {
    width: 20%;
    /*float: left;*/
    /*height: 200px;*/
    /*background-color: green;*/
    margin: -8px 0 0 0;

    float: left;
}


aside .tit_not {
    background-color: #ddd;
    padding: 3%;
    border-width: 1px 1px 0px 1px ;
    border-style: solid;
    border-color: #ddd;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    /*text-align: center;*/
}

aside .noticia {
    /*background-color: #ddd;*/
    padding: 3%;
    border-width: 1px 1px 0px 1px ;
    border-style: solid;
    border-color: #ddd;
    display: inline-block;
    width: 100%;
}

aside .buscar {
    /*background-color: #ddd;*/
    /*padding: 3%;*/
    /*border-width: 1px 1px 1px 1px ;*/
    /*border-style: solid;*/
    /*border-color: #ddd;*/
    display: inline-block;
    width: 100%;
    margin: 0 0 5px 0;
    /*border-radius: 5px;*/
}

aside .buscar .texto {
    float: left;
}

aside .buscar .boton {
    float: right;
    border-radius: 5px;
}

aside .buscar .texto {
    box-shadow: 2px 2px 3px #000 inset;
}

aside .buscar span:first-child {
    /*background-color: green;*/
    margin: 1px;
}
aside div:nth-child(2) {
    /*border-width: 1px;*/
    border-radius: 5px 5px 0 0;
}
 
aside div:last-child {
    border-width: 1px ;
    border-radius:0 0 5px 5px;
}
 
aside h3 {
    font-size: 0.9em;
    color: #666;
    /*font-family: 'Forum', serif;*/
    /*font-weight: bold;*/
    margin: 0 0 10px 0;
}

aside p {
    font-size: 0.8em;
    color: #333;
}

aside a.leer{
    font-size: 0.7em;
    color: #666;
    float: right;
}

aside a.leer:hover{
    color: #77003F;
}

.vitrina {
    width: :;%;
    float: left;
    clear: both;
    height: 200px;
    background-color: rgba(20,250,0,0.1);
    width: 100%;
}

.vitrina div:last-child {
    margin-right: 0;
}

.vitrina .curso_vitrina{
    margin-right: 0.5%;
    border: 1px solid #666;
    width: 33%;
    float: left;
    padding: 0;
    border-radius: 5px 5px 0px 0px;
}

.vitrina .curso_vitrina figure {
    float: left;
    height: 198px;
    background-color: #336633;
    margin: 0;
    width: 40%;
}

.vitrina .curso_vitrina .texto{
    float: left;
    width: 60%;
}

.vitrina .curso_vitrina h3 {
    font-size: 0.9em;
    color: #333;
    font-family: 'Forum', serif;
    /*font-weight: bold;*/
    margin: 5px 0 10px 10px;
    display: inline-block;
    clear: both;
}

.vitrina .curso_vitrina p {
    font-size: 0.8em;
    color: #333;
    /*font-weight: bold;*/
    margin: 5px 0 10px 10px;
    float:left;
    clear: both;
}

.vitrina .curso_vitrina a.leer {
    font-size: 0.8em;
    color: #666;
    clear: both;
    float: right;
    margin: 5px 5px 0 0;
}


/* FOOTER ------------------------------------------------------------------------------*/

footer {
    margin: 10px 0 5px 0;
    width: 100%;
    float: left;
    clear: both;
    /*height: 150px;*/
    border-radius: 0 0 5px 5px;

    /*background: linear-gradient(to bottom, #FFE8A3 0%, #F9DF8B 100%) repeat scroll 0 0 transparent;*/
    background: #ffe8a3; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top,  #ffe8a3 1%, #f9df8b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffe8a3), color-stop(100%,#f9df8b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffe8a3 1%,#f9df8b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffe8a3 1%,#f9df8b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffe8a3 1%,#f9df8b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffe8a3 1%,#f9df8b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe8a3', endColorstr='#f9df8b',GradientType=0 ); /* IE6-8 */
}

footer .datos {
    float: left;
    width: 70%;
    padding: 10px;
    font-size: 0.8em;
    color: #333;
}

footer a{
    color: #333;
}
footer a:hover{
    color: #77003F;
}

footer .datos p{
    line-height: 1.7em;
    padding-left: 20px;
}

footer .datos p:before {
    display: inline-block;
    /*position: absolute;*/
    width: 16px;
    height: 16px;
    vertical-align: middle;
    /*top: 2px;*/
}

footer .datos .direccion:before {
    content: url("imagenes/address_16.png");
}

footer .datos .fono:before {
    content: url("imagenes/bubble_16.png");
}

footer .datos .mail:before {
    content: url("imagenes/letter_16.png");
}

footer .datos .web:before {
    content: url("imagenes/globe_16.png");
}




footer .logos {
    float: left;
    width: 30%;
    /*background-color:rgba(240,100,2,0.5);*/
}

footer figure{
    float: right;
    margin: 10px;
}

footer figure img{
    float: left;
    height: 90px;
}



