/*Info Tema*/
/*Theme Name: Rentacar
Theme URI: http://anglo.cl/temas-wordpress/snmrac
Description: Tema para San Martin Rent a Car
Version: 0.1.0
Author: @aribet
Author URI: http://anglo.cl
Tags: dedicado
*/
/*normalizador*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*colores*/
/*variables*/
.limpiarf {
  overflow: hidden;
  height: 1%;
}
/*Fuentes*/
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?i0guq4');
  src: url('fonts/icomoon.eot?#iefixi0guq4') format('embedded-opentype'), url('fonts/icomoon.woff?i0guq4') format('woff'), url('fonts/icomoon.ttf?i0guq4') format('truetype'), url('fonts/icomoon.svg?i0guq4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*layout*/
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
  text-align: center;
}
.mantencion {
  display: inline-block;
  text-align: center;
}
header {
  position: relative;
  top: -23px;
}
header .logo {
  background-color: #0064cd;
  height: 73px;
}
header img {
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -150px;
}
header .reserva {
  display: inline-block;
  margin-top: 70px;
  font-size: 1em;
}
@media screen and (min-width: 750px) {
  header .reserva {
    font-size: 1em;
  }
}
header .reserva div {
  display: block;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 750px) {
  header .reserva div {
    display: inline-block;
    margin-right: 0.7em;
  }
}
header .reserva .texto {
  color: #003267;
}
header .reserva .marco {
  color: #ffffff;
  padding: 0.1em 0.8em 0.3em;
  border-radius: 5px;
}
header .reserva .central {
  background-color: #003267;
}
header .reserva .fono {
  background-color: #003267;
}
header .reserva .mail {
  background-color: #003267;
}
header .reserva .mail a:link {
  color: #ffffff;
}
header .reserva .mail:hover {
  background-color: #c86600;
}
.flota {
  overflow: hidden;
  height: 1%;
  margin: 0 auto;
  position: relative;
  top: -45px;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .flota {
    top: -15px;
  }
}
/*
@media screen and (min-width: 750px) {
				font-size: 1em;
}
*/
.categoria {
  padding: 1em 0.5em 0.5em 0.5em;
  display: block;
}
@media screen and (min-width: 600px) {
  .categoria {
    margin: 0 auto;
    width: 580px;
  }
}
@media screen and (min-width: 945px) {
  .categoria {
    width: 500px;
    display: inline-block;
    border-right: 1px solid rgba(0, 100, 205, 0.3);
  }
}
.categoria h2 {
  text-align: center;
  color: #004b9a;
}
.categoria h2 span {
  text-transform: capitalize;
}
.categoria:last-child {
  border-right: none;
}
article {
  position: relative;
  border: 1px solid rgba(0, 100, 205, 0.15);
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto 0.5em;
}
article .clase {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: #004b9a;
  color: #ffffff;
  border-radius: 5px 0 0 5px;
}
article .clase .etiqueta {
  font-size: 0.9em;
}
article .clase .tipo {
  font-weight: bold;
  margin-top: 0.1em;
  font-size: 1.9em;
}
article .datos {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 50px;
  top: 0;
}
article .foto {
  text-align: center;
}
article .foto img {
  width: 150px;
}
article .descripcion {
  margin: 0 0.2em;
  padding: 0.5em;
  background-color: #9fcbfa;
  color: #00264e;
  border-radius: 5px;
}
article .descripcion h3 {
  margin: 0;
}
article .descripcion p {
  margin: 0;
  display: inline;
}
article .propiedades {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.2em;
  color: #00264e;
  overflow: hidden;
  height: 1%;
}
article .iconos {
  background-color: peru;
}
@media screen and (min-width: 500px) {
  article .iconos {
    float: left;
    text-align: left;
    width: 230px;
  }
}
article .iconos [class^="icon-"],
article .iconos [class*=" icon-"] {
  margin: -0.2em;
  color: #004b9a;
  font-size: 2.3em;
}
article .valores {
  background-color: green;
  float: right;
  width: 180px;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}
article .valores > div {
  float: right;
}
article .valores .texto {
  width: 50px;
  margin-right: 0.5em;
  float: left;
  font-size: 0.7em;
  text-align: right;
  color: #004b9a;
}
article .valores .precio {
  color: #ffffff;
  float: left;
  font-size: 1.2em;
  padding: 0.2em 0.4em;
  text-align: right;
  width: 100px;
}
article .valores .dia {
  display: inline-block;
}
article .valores .dia .precio {
  background: #0020cd;
}
article .valores .semanal {
  display: inline-block;
  margin-top: 0.2em;
}
article .valores .semanal .precio {
  background: #0075cd;
}
footer {
  font-size: 16px;
  margin: 0 auto;
  padding: 10px 20px 20px;
  width: 100%;
  color: #ffffff;
  background: #555555;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* iconos */
/* iconos font face */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-9pjt7e');
  src: url('fonts/icomoon.eot?#iefix-9pjt7e') format('embedded-opentype'), url('fonts/icomoon.woff?-9pjt7e') format('woff'), url('fonts/icomoon.ttf?-9pjt7e') format('truetype'), url('fonts/icomoon.svg?-9pjt7e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1em;
  cursor: default;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-2-wd:before {
  content: "\e600";
}
.icon-4-wd:before {
  content: "\e601";
}
.icon-airbag-con:before {
  content: "\e602";
}
.icon-aire-con:before {
  content: "\e603";
}
.icon-maletaChica:before {
  content: "\e604";
}
.icon-maletaChica-1:before {
  content: "\e605";
}
.icon-maletaChica-2:before {
  content: "\e606";
}
.icon-maletaChica-3:before {
  content: "\e607";
}
.icon-maletaGrande:before {
  content: "\e608";
}
.icon-maletaGrande-2:before {
  content: "\e60e";
}
.icon-maletaGrande-3:before {
  content: "\e60a";
}
.icon-pasajeros-4:before {
  content: "\e60b";
}
.icon-pasajeros-9:before {
  content: "\e60c";
}
.icon-puerta-4:before {
  content: "\e60d";
}
[class^="sin"],
[class*="sin"] {
  display: none;
}
